<div class="FAQContainer">
  <div class="Qwrapper">
    <h1 class="title">Frequently Asked Questions</h1>
    <button class="question">
      <h1 class="textQ">What is Netflex?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
    <button class="question">
      <h1 class="textQ">How much does Netflex cost?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
    <button class="question">
      <h1 class="textQ">Where can I watch?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
    <button class="question">
      <h1 class="textQ">How do I cancel?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
    <button class="question">
      <h1 class="textQ">What can I watch on Netflex?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
    <button class="question">
      <h1 class="textQ">Is Netflex good for kids?</h1>
      <i class="fa fa-plus" id="plus-icon"></i>
    </button>
  </div>

  <app-signin-form></app-signin-form>
</div>
