<div
  class="movieCardWrapper"
  id="{{ movie.id }}"
  #cards
  (mouseover)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  style="background-image: url({{ movie.image }});"
>
  <div class="movieCardShadow">
    <!-- <div class="corner right">
      <img
        class="netflex-logo"
        alt="netflex-logo"
        src="../../../assets/images/logo2.png"
      />
    </div> -->
    <div class="myLogo">
      <img src="favicon2.ico" alt="" />
    </div>

    <div class="imgContainer" (click)="readMore(movie)">
      <img class="movieImg" [src]="movie.image" />
    </div>

    <div class="movieDetails">
      <h1 style="font-size: 125%; text-transform: capitalize">
        {{ movie.name }}
      </h1>

      <div class="bottomPart" (click)="readMore(movie)">
        <div class="dateLangRateWrapp">
          <div class="dateLangRate">{{ movie.release_date.slice(0, 4) }}</div>
          <div class="dateLangRate">{{ movie.original_language }}</div>
          <div class="dateLangRate" style="color: yellow">
            {{ movie.vote_average }}
          </div>
        </div>

        <p class="movieDescription">{{ movie.overview }}</p>
      </div>

      <div class="btnWrapp" #readMoreBtn>
        <div class="detailsBtn" (click)="readMore(movie)">Details</div>

        <div
          class="heart"
          *ngIf="added(movie.id)"
          (click)="addtoWishList(movie)"
        >
          <i class="fa fa-heart"></i>
        </div>

        <div
          class="heart"
          *ngIf="!added(movie.id)"
          (click)="removeFromWishList(movie.id)"
        >
          <i class="fa fa-heart" style="color: red"></i>
        </div>
      </div>
    </div>
  </div>
</div>
