<form class="email-form">
  <h3 class="email-text">
    Ready to watch? Enter your email to create or restart your membership.
  </h3>
  <div class="email-input-button">
    <input type="email" class="email-input" placeholder="Email address" />

    <nav class="email-nav">
      <a routerLink="/register" routerLinkActive="active">
        <button class="email-button">
          Get Started
          <i class="fas fa-chevron-right" id="right-arrow-icon"></i>
        </button>
      </a>
    </nav>
  </div>
</form>
