<div class="mainContainer">
  <div class="divider"></div>

  <div class="searchInputWrapp">
    <input
      type="text"
      placeholder="Movie Name"
      class="searchInput"
      #movie
      (keyup.enter)="search(movie.value)"
    />

    <button class="searchBtn" (click)="search(movie.value)">Search</button>
  </div>

  <div class="moviesList">
    <app-movie-list-vertical
      [movies]="movieService.foundMoviesList$"
    ></app-movie-list-vertical>
  </div>

  <div
    *ngIf="(movieService.foundMoviesList$ | async)?.length == 0 && clicked"
    class="empty"
  >
    No Results
  </div>
</div>
