<div
  class="header"
  *ngIf="!movieService.trailerClicked || !movieService.trailerKey"
>
  <app-header></app-header>
</div>

<div
  class="imgDisplay"
  style="background-image: url({{ movieService.mainImg.image }})"
>
  <div class="imgDisplayDetails">
    <div
      class="imgDisplayDetailsTxt"
      *ngIf="!movieService.trailerClicked || !movieService.trailerKey"
    >
      <div
        *ngIf="!movieService.trailerKey && movieService.trailerClicked"
        style="color: red; font-size: 20px"
      >
        Video not found
      </div>
      <button class="trailerButton" (click)="showVideo()">Play Trailer</button>
      <div>
        <h1>{{ movieService.mainImg.name }}:</h1>
        <h2>{{ movieService.mainImg.overview }}</h2>
      </div>
    </div>
    <div
      class="youtubeVideo"
      *ngIf="movieService.trailerKey && movieService.trailerClicked"
    >
      <youtube-player
        videoId="{{ movieService.trailerKey }}"
        suggestedQuality="highres"
        [width]="1992"
        allow="autoplay"
        [playerVars]="playerConfig"
      ></youtube-player>
    </div>
  </div>
</div>

<div
  class="MainWrapper"
  (scrolled)="onScroll()"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
>
  <div
    style="width: 100%; height: 300px"
    *ngIf="movieService.trailerClicked && movieService.trailerKey"
  ></div>
  <div class="mainDivider">
    <div class="listTitle">
      <h1>Popular Movies</h1>
      <button class="listScrollRight">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
    <app-movie-list-vertical
      [movies]="movieService.populerMovieList$"
    ></app-movie-list-vertical>

    <div class="listTitle">
      <h1>Trending Movies</h1>
      <button class="listScrollRight">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
    <app-movie-list-vertical
      [movies]="movieService.trendingMovieList$"
    ></app-movie-list-vertical>
  </div>

  <div class="listTitle" style="padding-top: 100px; margin-bottom: 40px">
    <h1>All Movies</h1>
    <button class="listScrollRight">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>
  <app-movie-list-horizontal
    [movies]="movieService.allMoviesList$"
  ></app-movie-list-horizontal>
</div>
