.logo-lang-singin {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.username {
  text-align: center;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 0%;
}

.lang-singin {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: flex-end;
  padding-right: 60px;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 95px;
  background-color: rgb(219, 32, 44);
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-radius: 3px;
}
