<div class="logo-lang-singin">
  <app-main-logo></app-main-logo>
  <div class="lang-singin">
    <p *ngIf="homePageService.isLoggedIn" class="username">
      Welcome {{ username }}
    </p>

    <app-lang-select></app-lang-select>
    <a
      *ngIf="homePageService.isLoggedIn"
      routerLink="/signin"
      class="sign"
      (click)="homePageService.isLoggedIn = false"
    >
      Logout
    </a>
    <a *ngIf="!homePageService.isLoggedIn" routerLink="/signin" class="sign">
      Sign In
    </a>
  </div>
</div>
