<div class="logo-lang-singin">
  <app-main-logo></app-main-logo>
  <div class="lang-singin">
    <p *ngIf="this.userService.getSelectedUser()" class="username">
      Welcome {{ this.userService.getSelectedUser() }}
    </p>

    <app-lang-select></app-lang-select>
    <a
      *ngIf="this.userService.getSelectedUser()"
      routerLink="/signin"
      class="sign"
      (click)="logout()"
    >
      Logout
    </a>
    <a
      *ngIf="!this.userService.getSelectedUser()"
      routerLink="/signin"
      class="sign"
    >
      Sign In
    </a>
  </div>
</div>
