<app-youtube-player></app-youtube-player>

<app-spinner></app-spinner>

<app-movie-display-bar [movies]="movieService.populerMovieList$">
</app-movie-display-bar>

<div
  class="MainWrapper"
  (scrolled)="onScroll()"
  infinite-scroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="500"
>
  <div class="mainDivider">
    <div class="listTitle">
      <h1>Trending Movies</h1>
      <button class="listScrollRight">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
    <app-movie-list-horizontal
      [movies]="movieService.trendingMovieList$"
    ></app-movie-list-horizontal>

    <div class="listTitle">
      <h1>Top Rated Movies</h1>
      <button class="listScrollRight">
        <i class="fas fa-angle-right"></i>
      </button>
    </div>
    <app-movie-list-horizontal
      [movies]="movieService.topRatedMoviesList$"
    ></app-movie-list-horizontal>
  </div>

  <div class="listTitle" style="padding-top: 100px; margin-bottom: 40px">
    <h1>All Movies</h1>
    <button class="listScrollRight">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>
  <app-movie-list-vertical
    [movies]="movieService.allMoviesList$"
  ></app-movie-list-vertical>

  <button
    class="scrollTopBtn"
    [ngClass]="{ 'show-scrollTop': windowScrolled }"
    (click)="scrollToTop()"
  >
    <i class="fa fa-chevron-up"></i>
  </button>
</div>
