<div class="movieCardWrapper" id="{{ movie.id }}" #cards>
  <div class="movieCardShadow">
    <div class="imgContainer">
      <img class="movieImg" [src]="movie.image" />
    </div>

    <div class="movieDetails">
      <h1 style="font-size: 20px">{{ movie.name }}</h1>

      <div class="dateLangRateWrapp">
        <div class="dateLangRate">{{ movie.release_date }}</div>
        <div class="dateLangRate">{{ movie.original_language }}</div>
        <div class="dateLangRate" style="color: yellow">
          {{ movie.vote_average }}
        </div>
      </div>

      <p class="movieDescription">{{ movie.overview }}</p>
    </div>
  </div>
</div>
