<div class="mainWrapper">
  <div class="img-shadow">
    <app-main-logo></app-main-logo>
    <div class="divider"></div>

    <form class="signin-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="signIn">
        <h1 class="title">Sign up</h1>

        <input
          type="text"
          id="username"
          name="username"
          class="inputField"
          placeholder="Username"
          formControlName="username"
        />

        <div
          *ngIf="!username.errors?.['valid'] && username.dirty && username.touched"
          class="error"
        >
          Enter a valid username:
          <p>1. Only contains alphanumeric characters, underscore and dot.</p>
          <p>
            2. Underscore and dot can't be at the end or start of a username
            (e.g _username / username_ / .username / username.).
          </p>
          <p>
            3. Underscore and dot can't be next to each other (e.g user_.name).
          </p>
          <p>
            4. Underscore or dot can't be used multiple times in a row (e.g
            user__name / user..name).
          </p>
          <p>Number of characters must be between 8 to 20.</p>
        </div>

        <input
          type="email"
          id="email"
          name="email"
          class="inputField"
          placeholder="Email"
          formControlName="email"
        />
        <div
          *ngIf="!email.errors?.['valid'] && email.dirty && email.touched"
          class="error"
        >
          enter a valid email
        </div>
        <div *ngIf="email.errors?.['hasemail']" class="error">
          email already exist! try another
        </div>

        <form formGroupName="pwd">
          <div class="passInputWrapp">
            <input
              type="password"
              id="password"
              name="password"
              class="passInputField"
              placeholder="Password"
              formControlName="password"
              #pass
            />
            <button class="showPass" (click)="showPass()">
              <i
                *ngIf="showPassword"
                class="fa-solid fa-eye"
                style="font-size: 24px"
              ></i>
              <i
                *ngIf="!showPassword"
                class="fa fa-eye-slash"
                style="font-size: 24px"
              ></i>
            </button>
          </div>

          <div
            *ngIf="pwd.get('password')?.errors?.['minlen'] && pwd.get('password')?.touched && pwd.get('password')?.dirty"
            class="error"
          >
            Password should be longer than
            {{ pwd.get('password')?.errors?.['requiredLength'] }}
          </div>

          <div class="passInputWrapp">
            <input
              type="password"
              id="confirm"
              name="confirm"
              class="passInputField"
              placeholder="Confirm Password"
              formControlName="confirm"
              #conf
            />
          </div>

          <div
            *ngIf="pwd.errors?.['pwdNotMatch'] && pwd.get('confirm')?.touched && pwd.get('confirm')?.dirty"
            class="error"
          >
            Password not matched!
          </div>
        </form>

        <form class="rolesContainer" formGroupName="roles">
          <label for="roles">Roles:</label>
          <select name="roles" class="rolesField" formControlName="role">
            <option value="{{ rolesEnum[0] }}">{{ rolesEnum[0] }}</option>
            <option value="{{ rolesEnum[1] }}">{{ rolesEnum[1] }}</option>
            <option value="{{ rolesEnum[2] }}">{{ rolesEnum[2] }}</option>
          </select>

          <div
            style="color: red; margin-left: 10px"
            *ngIf="!roles.errors?.['selected'] && roles.touched"
          >
            Please choose a role
          </div>
        </form>

        <button
          routerLink="/signin"
          class="signInButton"
          (click)="onClick()"
          type="button"
          [disabled]="email.errors?.['hasemail'] || !email.errors?.['valid'] || !username.errors?.['valid'] || !pwd.valid || !roles.errors?.['selected']"
        >
          Sign up
        </button>
        <p style="font-size: 20px">or</p>
        <a routerLink="/signin" style="color: white; font-size: 20px">
          Sign in
        </a>
      </div>
    </form>

    <div class="divider"></div>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
