<div class="mainWrapper">
  <div class="img-shadow">
    <app-main-logo></app-main-logo>
    <div class="divider"></div>

    <div class="signin-container">
      <div class="signIn">
        <h1 class="title">Sign up</h1>

        <input
          type="text"
          class="inputField"
          placeholder="Email or phone number"
        />
        <input type="text" class="inputField" placeholder="Password" />

        <button class="signInButton">Sign up</button>
      </div>
    </div>

    <div class="divider"></div>

    <div class="footer">
      <app-footer></app-footer>
    </div>
  </div>
</div>
